<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ampersand_ampersand.liga</key>
    <string>ampersand_ampersand.liga.glif</string>
    <key>asciicircum_equal.liga</key>
    <string>asciicircum_equal.liga.glif</string>
    <key>asciitilde_asciitilde.liga</key>
    <string>asciitilde_asciitilde.liga.glif</string>
    <key>asciitilde_at.liga</key>
    <string>asciitilde_at.liga.glif</string>
    <key>asciitilde_equal.liga</key>
    <string>asciitilde_equal.liga.glif</string>
    <key>asciitilde_greater.liga</key>
    <string>asciitilde_greater.liga.glif</string>
    <key>asciitilde_hyphen.liga</key>
    <string>asciitilde_hyphen.liga.glif</string>
    <key>asterisk_asterisk.liga</key>
    <string>asterisk_asterisk.liga.glif</string>
    <key>asterisk_asterisk_asterisk.liga</key>
    <string>asterisk_asterisk_asterisk.liga.glif</string>
    <key>asterisk_greater.liga</key>
    <string>asterisk_greater.liga.glif</string>
    <key>asterisk_slash.liga</key>
    <string>asterisk_slash.liga.glif</string>
    <key>bar_bar.liga</key>
    <string>bar_bar.liga.glif</string>
    <key>bar_bar_bar_greater.liga</key>
    <string>bar_bar_bar_greater.liga.glif</string>
    <key>bar_bar_equal.liga</key>
    <string>bar_bar_equal.liga.glif</string>
    <key>bar_bar_greater.liga</key>
    <string>bar_bar_greater.liga.glif</string>
    <key>bar_braceright.liga</key>
    <string>bar_braceright.liga.glif</string>
    <key>bar_bracketright.liga</key>
    <string>bar_bracketright.liga.glif</string>
    <key>bar_equal.liga</key>
    <string>bar_equal.liga.glif</string>
    <key>bar_greater.liga</key>
    <string>bar_greater.liga.glif</string>
    <key>bar_hyphen.liga</key>
    <string>bar_hyphen.liga.glif</string>
    <key>braceleft_bar.liga</key>
    <string>braceleft_bar.liga.glif</string>
    <key>braceright_numbersign.liga</key>
    <string>braceright_numbersign.liga.glif</string>
    <key>bracketleft_bar.liga</key>
    <string>bracketleft_bar.liga.glif</string>
    <key>bracketright_numbersign.liga</key>
    <string>bracketright_numbersign.liga.glif</string>
    <key>colon_colon.liga</key>
    <string>colon_colon.liga.glif</string>
    <key>colon_colon_colon.liga</key>
    <string>colon_colon_colon.liga.glif</string>
    <key>colon_colon_equal.liga</key>
    <string>colon_colon_equal.liga.glif</string>
    <key>colon_equal.liga</key>
    <string>colon_equal.liga.glif</string>
    <key>colon_greater.liga</key>
    <string>colon_greater.liga.glif</string>
    <key>colon_less.liga</key>
    <string>colon_less.liga.glif</string>
    <key>dollar_greater.liga</key>
    <string>dollar_greater.liga.glif</string>
    <key>equal_colon_equal.liga</key>
    <string>equal_colon_equal.liga.glif</string>
    <key>equal_equal.liga</key>
    <string>equal_equal.liga.glif</string>
    <key>equal_equal_equal.liga</key>
    <string>equal_equal_equal.liga.glif</string>
    <key>equal_equal_greater.liga</key>
    <string>equal_equal_greater.liga.glif</string>
    <key>equal_exclam_equal.liga</key>
    <string>equal_exclam_equal.liga.glif</string>
    <key>equal_greater.liga</key>
    <string>equal_greater.liga.glif</string>
    <key>equal_greater_greater.liga</key>
    <string>equal_greater_greater.liga.glif</string>
    <key>equal_less_less.liga</key>
    <string>equal_less_less.liga.glif</string>
    <key>equal_slash_equal.liga</key>
    <string>equal_slash_equal.liga.glif</string>
    <key>exclam_equal.liga</key>
    <string>exclam_equal.liga.glif</string>
    <key>exclam_equal_equal.liga</key>
    <string>exclam_equal_equal.liga.glif</string>
    <key>exclam_exclam.liga</key>
    <string>exclam_exclam.liga.glif</string>
    <key>exclam_exclam_period.liga</key>
    <string>exclam_exclam_period.liga.glif</string>
    <key>greater_colon.liga</key>
    <string>greater_colon.liga.glif</string>
    <key>greater_equal.liga</key>
    <string>greater_equal.liga.glif</string>
    <key>greater_equal_greater.liga</key>
    <string>greater_equal_greater.liga.glif</string>
    <key>greater_greater.liga</key>
    <string>greater_greater.liga.glif</string>
    <key>greater_greater_equal.liga</key>
    <string>greater_greater_equal.liga.glif</string>
    <key>greater_greater_greater.liga</key>
    <string>greater_greater_greater.liga.glif</string>
    <key>greater_greater_hyphen.liga</key>
    <string>greater_greater_hyphen.liga.glif</string>
    <key>greater_hyphen.liga</key>
    <string>greater_hyphen.liga.glif</string>
    <key>greater_hyphen_greater.liga</key>
    <string>greater_hyphen_greater.liga.glif</string>
    <key>hyphen_asciitilde.liga</key>
    <string>hyphen_asciitilde.liga.glif</string>
    <key>hyphen_bar.liga</key>
    <string>hyphen_bar.liga.glif</string>
    <key>hyphen_greater.liga</key>
    <string>hyphen_greater.liga.glif</string>
    <key>hyphen_greater_greater.liga</key>
    <string>hyphen_greater_greater.liga.glif</string>
    <key>hyphen_hyphen.liga</key>
    <string>hyphen_hyphen.liga.glif</string>
    <key>hyphen_hyphen_greater.liga</key>
    <string>hyphen_hyphen_greater.liga.glif</string>
    <key>hyphen_hyphen_hyphen.liga</key>
    <string>hyphen_hyphen_hyphen.liga.glif</string>
    <key>hyphen_less.liga</key>
    <string>hyphen_less.liga.glif</string>
    <key>hyphen_less_less.liga</key>
    <string>hyphen_less_less.liga.glif</string>
    <key>less_asciitilde.liga</key>
    <string>less_asciitilde.liga.glif</string>
    <key>less_asciitilde_asciitilde.liga</key>
    <string>less_asciitilde_asciitilde.liga.glif</string>
    <key>less_asciitilde_greater.liga</key>
    <string>less_asciitilde_greater.liga.glif</string>
    <key>less_asterisk.liga</key>
    <string>less_asterisk.liga.glif</string>
    <key>less_asterisk_greater.liga</key>
    <string>less_asterisk_greater.liga.glif</string>
    <key>less_bar.liga</key>
    <string>less_bar.liga.glif</string>
    <key>less_bar_bar.liga</key>
    <string>less_bar_bar.liga.glif</string>
    <key>less_bar_bar_bar.liga</key>
    <string>less_bar_bar_bar.liga.glif</string>
    <key>less_bar_greater.liga</key>
    <string>less_bar_greater.liga.glif</string>
    <key>less_colon.liga</key>
    <string>less_colon.liga.glif</string>
    <key>less_dollar.liga</key>
    <string>less_dollar.liga.glif</string>
    <key>less_dollar_greater.liga</key>
    <string>less_dollar_greater.liga.glif</string>
    <key>less_equal.liga</key>
    <string>less_equal.liga.glif</string>
    <key>less_equal_equal.liga</key>
    <string>less_equal_equal.liga.glif</string>
    <key>less_equal_equal_greater.liga</key>
    <string>less_equal_equal_greater.liga.glif</string>
    <key>less_equal_greater.liga</key>
    <string>less_equal_greater.liga.glif</string>
    <key>less_equal_less.liga</key>
    <string>less_equal_less.liga.glif</string>
    <key>less_exclam_hyphen_hyphen.liga</key>
    <string>less_exclam_hyphen_hyphen.liga.glif</string>
    <key>less_greater.liga</key>
    <string>less_greater.liga.glif</string>
    <key>less_hyphen.liga</key>
    <string>less_hyphen.liga.glif</string>
    <key>less_hyphen_greater.liga</key>
    <string>less_hyphen_greater.liga.glif</string>
    <key>less_hyphen_hyphen.liga</key>
    <string>less_hyphen_hyphen.liga.glif</string>
    <key>less_hyphen_less.liga</key>
    <string>less_hyphen_less.liga.glif</string>
    <key>less_less.liga</key>
    <string>less_less.liga.glif</string>
    <key>less_less_equal.liga</key>
    <string>less_less_equal.liga.glif</string>
    <key>less_less_hyphen.liga</key>
    <string>less_less_hyphen.liga.glif</string>
    <key>less_less_less.liga</key>
    <string>less_less_less.liga.glif</string>
    <key>less_plus.liga</key>
    <string>less_plus.liga.glif</string>
    <key>less_plus_greater.liga</key>
    <string>less_plus_greater.liga.glif</string>
    <key>less_slash.liga</key>
    <string>less_slash.liga.glif</string>
    <key>LIG</key>
    <string>L_I_G_.glif</string>
    <key>less_slash_greater.liga</key>
    <string>less_slash_greater.liga.glif</string>
    <key>num_num_num.liga</key>
    <string>num_num_num.liga.glif</string>
    <key>num_num_num_num.liga</key>
    <string>num_num_num_num.liga.glif</string>
    <key>num_under_parenleft.liga</key>
    <string>num_under_parenleft.liga.glif</string>
    <key>numbersign_braceleft.liga</key>
    <string>numbersign_braceleft.liga.glif</string>
    <key>numbersign_bracketleft.liga</key>
    <string>numbersign_bracketleft.liga.glif</string>
    <key>numbersign_colon.liga</key>
    <string>numbersign_colon.liga.glif</string>
    <key>numbersign_equal.liga</key>
    <string>numbersign_equal.liga.glif</string>
    <key>numbersign_exclam.liga</key>
    <string>numbersign_exclam.liga.glif</string>
    <key>numbersign_numbersign.liga</key>
    <string>numbersign_numbersign.liga.glif</string>
    <key>numbersign_parenleft.liga</key>
    <string>numbersign_parenleft.liga.glif</string>
    <key>numbersign_question.liga</key>
    <string>numbersign_question.liga.glif</string>
    <key>numbersign_underscore.liga</key>
    <string>numbersign_underscore.liga.glif</string>
    <key>percent_percent.liga</key>
    <string>percent_percent.liga.glif</string>
    <key>period_equal.liga</key>
    <string>period_equal.liga.glif</string>
    <key>period_hyphen.liga</key>
    <string>period_hyphen.liga.glif</string>
    <key>period_period.liga</key>
    <string>period_period.liga.glif</string>
    <key>period_period_equal.liga</key>
    <string>period_period_equal.liga.glif</string>
    <key>period_period_less.liga</key>
    <string>period_period_less.liga.glif</string>
    <key>period_period_period.liga</key>
    <string>period_period_period.liga.glif</string>
    <key>period_question.liga</key>
    <string>period_question.liga.glif</string>
    <key>plus_greater.liga</key>
    <string>plus_greater.liga.glif</string>
    <key>plus_plus.liga</key>
    <string>plus_plus.liga.glif</string>
    <key>plus_plus_plus.liga</key>
    <string>plus_plus_plus.liga.glif</string>
    <key>question_colon.liga</key>
    <string>question_colon.liga.glif</string>
    <key>question_equal.liga</key>
    <string>question_equal.liga.glif</string>
    <key>question_period.liga</key>
    <string>question_period.liga.glif</string>
    <key>question_question.liga</key>
    <string>question_question.liga.glif</string>
    <key>semicolon_semicolon.liga</key>
    <string>semicolon_semicolon.liga.glif</string>
    <key>slash_asterisk.liga</key>
    <string>slash_asterisk.liga.glif</string>
    <key>slash_equal.liga</key>
    <string>slash_equal.liga.glif</string>
    <key>slash_equal_equal.liga</key>
    <string>slash_equal_equal.liga.glif</string>
    <key>slash_greater.liga</key>
    <string>slash_greater.liga.glif</string>
    <key>slash_slash.liga</key>
    <string>slash_slash.liga.glif</string>
    <key>slash_slash_slash.liga</key>
    <string>slash_slash_slash.liga.glif</string>
    <key>tilde_tilde_greater.liga</key>
    <string>tilde_tilde_greater.liga.glif</string>
    <key>underscore_bar_underscore.liga</key>
    <string>underscore_bar_underscore.liga.glif</string>
    <key>underscore_underscore.liga</key>
    <string>underscore_underscore.liga.glif</string>
    <key>w_w_w.liga</key>
    <string>w_w_w.liga.glif</string>
  </dict>
</plist>
